* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
  background-color: rgb(172, 113, 3);
}

body {
  background-color: rgb(175, 163, 139);
}

main {
  display: flex;
  justify-content: center; /* 横を中央揃えにする */
  align-items: center; /* 縦を中央揃えにする */
}

#output-csv {
  margin-top: 100px;
  font-size: 20px;
}
