* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
  background-color: rgb(172, 113, 3);
}

body {
  background-color: rgb(175, 163, 139);
}

main {
  display: flex;
  justify-content: center; /* 横を中央揃えにする */
  align-items: center; /* 縦を中央揃えにする */
}

#output-csv__english-without-bom {
  margin-top: 100px;
  font-size: 20px;
  background-color: rgb(123, 123, 238);
}

#output-csv__english-with-bom {
  margin-top: 100px;
  font-size: 20px;
  background-color: rgb(201, 106, 180);
}

#output-csv__japanese {
  margin-top: 100px;
  font-size: 20px;
  background-color: rgb(216, 172, 89);
}
